@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(116, 167, 132);
}

.wrapper {
  width: 770px;
  padding: 35px;
  background-color: #c7dfcc;
  border-radius: 10px;
}

.wrapper .content-box {
  padding: 13px 20px 0;
  border-radius: 10px;
  border: 1px solid #b6b7b2;
}

.content-box .typing-text {
  max-height: 255px;
  overflow-y: auto;
}

.typing-text p {
  font-size: 21px;
  text-align: justify;
  letter-spacing: 0.3px;
  word-break: break-all;
}

.typing-text::-webkit-scrollbar {
  width: 0;
}

.content-box .content {
  display: flex;
  margin-top: 17px;
  padding: 12px 0;
  border-top: 2px solid #b6b7b2;
  justify-content: space-between;
}

.content .result-details {
  display: flex;
  width: calc(100% - 140px);
  justify-content: space-between;
}

.result-details li {
  display: flex;
  list-style: none;
}

.result-details li p {
  font-size: 19px;
}

.result-details li span {
  display: block;
  font-size: 20px;
  margin-left: 10px;
}